click==7.1.2
daytime==0.4
dominate==2.5.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Datepicker==0.12
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pytz==2020.1
static-parameters==0.4
visitor==0.1.3
Werkzeug==1.0.1
