<!DOCTYPE html>
<html>
  <head>
    <title>Date-time to Bitcoin Block Number Converter</title>
  </head>
  <body>
    <form action = "https://datetime-converter-pro.herokuapp.com/result/result.html" method = "POST">
   <!----<form action = "http://localhost:5000/result/result.html" method = "POST"></form>>-->

       <p>Date <input type = "text" name = "date" /></p>
       <p>Time <input type = "text" name = "time" /></p>
       <p><input type = "submit" value = "submit" /></p>
    </form>
 </body>
</html>
